# Node.js and Ionic
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.ionic/
dist/
www/
build/
coverage/

# IDE configurations
.idea/
.vscode/

# Python
*.pyc
__pycache__/
db.sqlite3  
/staticfiles/

# Environment Variables
.env
.env.local
.env.development

# Logs 
*.log 

# Additional
.pnp
.pnp.js
.DS_Store
.env.development.local
.env.test.local
.env.production.local
.vscode/*
!/.vscode/extensions.json
.eslintcache