# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ionic
.ionic/
dist/
www/
build/
coverage/

# IDE configurations
.idea/
.vscode/

# Python
*.pyc
__pycache__/
db.sqlite3  
/staticfiles/

# Environment Variables
.env
.env.local

# IDE configurations
.idea/
.vscode/ 

# Logs 
*.log 

settings.py