Django==5.0.2
djangorestframework==3.14.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
django-cors-headers
gunicorn==21.2.0
pytz==2024.1
sqlparse==0.4.4
tzdata==2024.1
whitenoise==5.3.0
flake8
mccabe
pycodestyle
pyflakes
requests
pvlib
pytz==2024.1
openpyxl